@use '../abstracts' as *;

.button {
  display: inline-block;
  font-weight: 500;
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.04em;
  padding: 0.95em 1.75em 0.85em;
  cursor: pointer;
  color: var(--clr-neutral-400);
  background-color: var(--);
  border-radius: 100vw;
  box-shadow: 0 0.125em 0.5em;
  transform: scale(1);
}
