@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$default-font: 'Nunito', sans-serif;
// $heading-font: 'Oswald', sans-serif,

$fonts: (
  small: (
    300: 1rem,
    400: 1.125,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  large: (
    300: 1rem,
    400: 1.425,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);

// @font-face {
//   font-family: "Alaska";
//   src: url("../fonts/alaska.ttf") format("truetype");
//   font-display: swap;
// }
